body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #8B4513; /* Color café */
}

.btn-danger {
    background-color: #dc3545; /* Color rojo */
}

footer {
    background-color: #343a40; /* Color negro */
}
